{% extends '@KtarilaInvoice/layout.html.twig' %}
{% block pk_invoice_content %}
<div class="row">
    <div class="col-8">
        
    </div>
    <div class="col-4 col-4 align-items-center d-flex justify-content-end mb-2">
        <div>
            <a href="{{ path('pk_invoice_index')}}" class="btn btn-primary">All Invoices</a>

            <a href="{{ path('pk_invoice_edit', {'invoiceId': invoice.id})}}" class="btn btn-warning mr-1">Update</a>

            {% include '@KtarilaInvoice/bootstrap5/invoice/_delete_form.html.twig'  %}
        </div>
    </div>
    <hr />
    <div class=" p-2">
        <div class="d-flex row">
            <div class="customer w-50">
                <h1>{{ company_name }}</h1>
                
            </div>
            <div class="date w-50 d-flex justify-content-end">
                <div>
                    <h5>INV{{ "%06d"|format(invoice.id) }}</h5>
                    <p>{{ invoice.invoiceDate ? invoice.invoiceDate|date('d/m/Y') : "" }}</p>
                </div>
            </div>
        </div>

        <div class="customer  p-2">
            <div class="">
                <h2 class="fw-bolder">{{ 'Bill to'|trans }}</h2>
            </div>
            <div>
                <h3 class="fw-bold">{{ invoice.customer}}</h3>
                <p> {{ invoice.customerAddress|nl2br}}</p>

            </div>

        </div>
        <div class="item mt-2">
            <table class="table table-striped table-bordered">
                {% for item in invoice.items %}
                <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td class="w-75">{{ item.item }}</td>
                    <td class="w-20">{{ item.itemAmount|format_currency(invoice.currency)}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="summary  d-flex justify-content-end">
            <div class="bg-secondary-subtle border border w-50 py-3">
                <h2 class="text-center">Total: {{ invoice.totalAmount|format_currency(invoice.currency) }}</h2>

            </div>

        </div>
    </div>
</div>
{% endblock %}